@model Assessment3.Models.CourseModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CourseModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseUnits" class="control-label"></label>
                <input asp-for="CourseUnits" class="form-control" />
                <span asp-validation-for="CourseUnits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <input asp-for="UnitId" class="form-control" />
                <span asp-validation-for="UnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitSpecification" class="control-label"></label>
                <input asp-for="UnitSpecification" class="form-control" />
                <span asp-validation-for="UnitSpecification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitTeacherId" class="control-label"></label>
                <input asp-for="UnitTeacherId" class="form-control" />
                <span asp-validation-for="UnitTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherName" class="control-label"></label>
                <input asp-for="TeacherName" class="form-control" />
                <span asp-validation-for="TeacherName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approval" /> @Html.DisplayNameFor(model => model.Approval)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
